:root {
    --arrowY: 475px;
    --arrowX: 470px;
  }

.left {
    position: relative;
    right: 80px;
    /* top: calc(var(--arrowY) + 60px); */
    height: 50px;
    width: 70px;
}

.right {
    position: relative;
    left: 80px;
    bottom: 50px;
    height: 50px;
    width: 70px;
}

.down {
    position: relative;
    /* left: calc(var(--arrowX) + 80px); */
    /* top: calc(var(--arrowY) + 60px); */
    bottom: 100px;
    height: 50px;
    width: 70px;
}

.up {
    position: relative;
    /* left: calc(var(--arrowX) + 80px); */
    /* top: calc(var(--arrowY)); */
    bottom: 210px;
    height: 50px;
    width: 70px;
}

.arrow-icon {
    position: relative;
    right: -13px;
    top: 4px;
}

.center {
    position: absolute;
    margin: auto;
    left: 48%;
    top: 80%;
}